{% extends 'base.html'%}
{% block content %}
<div class="columns">
    <div class="column is-8 is-offset-2">
        <div class="box">
            <h1 class="title has-text-grey-darker">Create a new graffiti</h1>

            <div class="field">
                <label class="label">Photo</label>
                <div class="control">
                    <input id="photo" type="file" accept=".jpg,.png,.svg">
                </div>
            </div>

            <div class="field">
                <label class="label">Description</label>
                <div class="control">
                    <textarea class="textarea" id="description" placeholder="Description"></textarea>
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <a class="button is-primary" onclick=createGraffity()>Submit</a>
                </div>
                <div class="control">
                    <a href="/graffities" class="button is-danger is-light">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="block"></div>
<br><br>
<script>
    var photo = document.getElementById("photo");
    var url_photo=""
    photo.addEventListener("change", ev => {
            const formData = new FormData();
            formData.append("image", ev.target.files[0]);
            fetch("https://api.imgur.com/3/image/",{
                method:"post",
                headers:{
                    Authorization:"Client-ID 812e393caa20a49"
                },
                body: formData
            }).then(data=>data.json()).then(data =>{
                url_photo = data.data.link;
            })
    });

    function createGraffity(){
        var description = document.getElementById("description");
        if(url_photo!="" && description!="") {
            var request = new XMLHttpRequest();
            request.onreadystatechange = () => {
                    if (request.readyState == XMLHttpRequest.DONE && request.status ==200) {
                        window.location.href="/home"; //TODO: Redirect to graffity list (?)
                    }
                };
                console.log(description.value);
                console.log(`description=${description.value}&photo=${url_photo}`);
                request.open('POST', '/graffity/create', true);
                request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded;charset=UTF-8');
                request.setRequestHeader('Access-Control-Allow-Origin', '*');
                request.send(`description=${description.value}&photo=${url_photo}`);
        }
    }
</script>

{% endblock %}