{% extends 'base.html'%}
{% block content %}
<div class="block"></div>
<div class="columns">
    <div class="column is-8 is-offset-2">
        <div class="box">
            <p class="title is-4 has-text-grey-darker">Search Events by name or description</p>
            <div class="field is-grouped">
              <p class="control is-expanded">
                <input class="input" type="text" id="input" onchange="search_by_name_or_description(event)"  placeholder="Find an event">
              </p>
            </div>
        </div>
    </div>
</div>

<div class="column is-8 is-offset-2">
    <div class="box" id="mainBox">
        <progress class="progress is-primary" max="100">30%</progress>
    </div>
    <a class="button is-danger is-large" id="top_button"onclick="top_function()">To the Top</a>
</div>

<script>
    window.onscroll = () => {scroll_function();}

    function scroll_function() {
        var top_button = document.getElementById("top_button");

        if (document.body.scrollTop > 20 ||
        document.documentElement.scrollTop > 20) {
            top_button.style.display = "block";
        } else {
            top_button.style.display = "none";
        }
    }

    function top_function() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

    function search_by_name_or_description(e) {
        if (e !== undefined) {
            input=e.target.value;
            {
                fetch(`${window.origin}/events/search`, {
                    method: 'POST',
                    credentials: 'include',
                    body: JSON.stringify(input),
                    cache: 'no-cache',
                    headers: new Headers({
                        'content-type': 'application/json'
                    })
                }).then((response) => {
                    if (response.status !== 200) {
                        console.log(`Response status was not 200: ${response.status}`);
                        return ;
                    }
                    response.json().then( (data) => {
                        render_cards(data);
                    })
                })
            }
        }
    }

    function open_event(id) {
        window.location.href = "/event?id="+id;
    }

    function render_cards(data) {
        var box = document.getElementById('mainBox');
        box.innerHTML = '<progress class="progress is-danger" max="100">30%</progress>';
        var finalHTML = '';

        data.forEach(element => {
            var string_html = `
                <a onclick="open_event(${element.e_id})"><div class="card">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <h1 class="title is-2 has-text-grey-darker">
                                        ${element.name}
                                    </h1>
                                </div>
                            </div>
                            <div class="content">
            `;
            if (element.description !== null) {
                string_html = string_html.concat(`${element.description}`);
            }
            if (element.address !== null) {
                string_html = string_html.concat(`
                    <p><strong>Address: </strong> ${element.address} </p>
                `);
            }
            if (element.url !== null) {
                string_html = string_html.concat(`
                    <p><strong>URL: </strong> ${element.url} </p>
                `);
            }
            if (element.email !== null) {
                string_html = string_html.concat(`
                    <p><strong>Email: </strong> ${element.email} </p>
                `);
            }
            if (element.schedule !== null) {
                string_html = string_html.concat(`
                    <p><strong>Schedule: </strong> ${element.schedule} </p>
                `);
            }
            string_html = string_html.concat(`
                            </div>
                        </div>
                    </div></a>
                    <br>
            `);
            finalHTML += string_html;
        });
        box.innerHTML = finalHTML;
    }

</script>
<style>
    #top_button {
        display: none;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        position: fixed;
    }
</style>
{% endblock %}