{% extends 'base.html'%}
{% block content %}    
<div class="block"></div>
<div class="columns">
    <div class="column is-8 is-offset-2">
        <div class="box">

        </div>
    </div>
</div>
<div class="columns">
    <div class="column is-8 is-offset-2">
        <div class="box">

        </div>
    </div>
</div>
<a class="button is-danger is-large" id="top_button"onclick="top_function()">To the Top</a>
<script>
    window.onscroll = () => {scroll_function();}

    function scroll_function() {
        var top_button = document.getElementById("top_button");

        if (document.body.scrollTop > 20 ||
        document.documentElement.scrollTop > 20) {
            top_button.style.display = "block";
        } else {
            top_button.style.display = "none";
        }
    }

    function top_function() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<style>
    #top_button {
        display: none;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        position: fixed;
    }
</style>
{% endblock %}