{% extends 'base.html'%}
{% block content %}
<div class="block"></div>
<div class="columns">
    <div class="column is-8 is-offset-2">
        <div class="box">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src={{ graffiti.url }}/>
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src={{ graffiti.user.profile_picture }}>
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4 has-text-grey-darker">{{ graffiti.user.display_name }}</p>
                            <p class="subtitle is-6 has-text-grey">{{ graffiti.user.email }}</p>
                        </div>
                    </div>

                    <div class="content">
                        <div class="columns">
                            <div class="column is-10">
                                {{ graffiti.description }}
                            </div>
                            {% if graffiti.user.uid == session.get('current_user_uid') %}
                                <a class="button is-text" onclick="">Editar</a>
                                <a class="button is-text" onclick="">Borrar</a>
                            {% else %}
                                <a class="button is-primary is-light" onclick=""><i class="far fa-thumbs-up"></i>&nbsp;&nbsp;{{ graffiti.n_likes }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </div>
</div>
{% endblock %}