{% extends 'base.html'%}
{% block content %}

<div class="hero is-fullheight is-primary">
    <div class="hero-body">
        <div class="column is-half is-offset-one-quarter has-background-danger" >
            <h1 class="title is-3">
                {{ l.name }}
            </h1>
            <h2 class="title is-6">
            {% if l.description %}
                {{ l.description }}<br>
            {% endif %}
            </h2>
            <nav class="level">
                <div class="level-left">
                    <p class="title is-6">
                        {{ l.address }}<br>
                        {{ l.url }}<br>
                        {{ l.email }}<br>
                        {% if l.schedule %}
                            {{ l.schedule }}<br>
                        {% endif %}
                        {{ l.coordinates }}<br>
                    </p>
                </div>
                <div class="level-right">
                    {% set vars = {'b': True} %}
                    {% if ratings != None %}
                        {% for r in ratings %}
                            {% if r.user == session.get('current_user_uid') %}
                                {% if vars.update({'b': False}) %}{% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {{ b }}
                    {% if vars.b %}
                        <button class="button is-light"  onclick="rate()">Valorar</button>
                    {% endif %}

                </div>
            </nav>
            <div id="createRating" class="box has-text-weight-semibold" style="display: none;">
                <form action="/saverating" method="POST">
                    <div class="field">
                        <input type="hidden" name="id" value="{{ 'null' }}" />
                    </div>
                    <div class="field">
                        <label class="label">Valoración general</label>
                        <input type="radio" id="grade1"
                            name="grade" value="1">
                        <label for="grade1">1</label>
                        <input type="radio" id="grade2"
                            name="grade" value="2">
                        <label for="grade2">2</label>
                        <input type="radio" id="grade3"
                            name="grade" value="3">
                        <label for="grade3">3</label>
                        <input type="radio" id="grade4"
                            name="grade" value="4">
                        <label for="grade4">4</label>
                        <input type="radio" id="grade5"
                            name="grade" value="5">
                        <label for="grade5">5</label>
                    </div>
                    <div class="field">
                        <label class="label">Reseña escrita</label>
                        <div class="control">
                          <input class="input" type="text" 
                            placeholder="¿Qué te ha gustado y qué no? ¿Lo recomiendas?" name="description">
                        </div>
                    </div>
                    <div class="field">
                        <input type="hidden" name="leisure" value="{{ l.l_id }}" />
                        <input type="hidden" name="type" value="{{ l.leisure_type }}" />
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                          <button class="button is-link" type="submit">Publicar</button>
                        </div>
                    </div>
                </form>
            </div>
            {% if ratings %}
            {% for r in ratings %}
            <div id="{{ r.key }}" class="box" style="display: block;">
                <nav class="level">
                    <div class="level-left">
                        <strong>{{ r.user }}</strong>
                    </div>
                    <div class="level-right">
                        <strong>{{ r.grade }} de 5</strong>
                    </div>
                </nav>
                {{ r.description }}<br>
                <nav class="level">
                    <div class="level-left"></div>
                    {% if r.user == session.get('current_user_uid') %}
                    <div class="level-right">
                        <div class="field is-grouped">
                            <button class="button is-text" onclick="edit('{{ r.key }}', 'editRating')">Editar</button>
                            <form action="/deleterating" method="POST">
                                <input type="hidden" name="id" value="{{ r.key }}" />
                                <input type="hidden" name="leisure" value="{{ l.l_id }}" />
                                <input type="hidden" name="type" value="{{ l.leisure_type }}" />
                                <button class="button is-text" type="submit">Borrar</button>
                            </form>
                        </div>
                    </div>
                    {% else %}
                    <div class="level-right">
                        {{ r.nlikes }}
                        &nbsp;
                        <div class="field is-grouped">
                            <button class="far fa-thumbs-up" onclick="like()"></button>
                        </div>
                    </div>
                    {% endif %}
                </nav>
            </div>
            {% if r.user == session.get('current_user_uid')%}
            <div id="editRating" class="box has-text-weight-semibold" style="display: none;">
                <form action="/saverating" method="POST">
                    <div class="field">
                        <input type="hidden" name="id" value="{{ r.key }}" />
                    </div>
                    <div class="field">
                        <label class="label">Valoración general</label>
                        {% if r.grade == 1 %}
                        <input type="radio" id="grade1"
                            name="grade" value="1" checked>
                        <label for="grade1">1</label>
                        {% else %}
                        <input type="radio" id="grade1"
                            name="grade" value="1">
                        <label for="grade1">1</label>
                        {% endif %}
                        {% if r.grade == 2 %}
                        <input type="radio" id="grade2"
                            name="grade" value="2" checked>
                        <label for="grade2">2</label>
                        {% else %}
                        <input type="radio" id="grade2"
                            name="grade" value="2">
                        <label for="grade2">2</label>
                        {% endif %}
                        {% if r.grade == 3 %}
                        <input type="radio" id="grade3"
                            name="grade" value="3" checked>
                        <label for="grade3">3</label>
                        {% else %}
                        <input type="radio" id="grade3"
                            name="grade" value="3">
                        <label for="grade3">3</label>
                        {% endif %}
                        {% if r.grade == 4 %}
                        <input type="radio" id="grade4"
                            name="grade" value="4" checked>
                        <label for="grade4">4</label>
                        {% else %}
                        <input type="radio" id="grade4"
                            name="grade" value="4">
                        <label for="grade4">4</label>
                        {% endif %}
                        {% if r.grade == 5 %}
                        <input type="radio" id="grade5"
                            name="grade" value="5" checked>
                        <label for="grade5">5</label>
                        {% else %}
                        <input type="radio" id="grade5"
                            name="grade" value="5">
                        <label for="grade5">5</label>
                        {% endif %}
                    </div>
                    <div class="field">
                        <label class="label">Reseña escrita</label>
                        <div class="control">
                          <input class="input" type="text" name="description" value="{{ r.description }}">
                        </div>
                    </div>
                    <div class="field">
                        <input type="hidden" name="leisure" value="{{ l.l_id }}" />
                        <input type="hidden" name="type" value="{{ l.leisure_type }}" />
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                          <button class="button is-link" type="submit">Guardar cambios</button>
                        </div>
                    </div>
                </form>
            </div>
            {% endif %}
            {% endfor %}
            {% else %}
            <div class="box has-text-centered has-text-weight-semibold">
                Este punto de ocio aún no tiene ninguna valoración<br>
                ¡Añade la primera pinchando en el botón de Valorar!<br>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script>

var rated = new Boolean(false);

function rate() {
  var x = document.getElementById("createRating");
  x.style.display = "block";
}

function edit(key, editRating) {
    var x = document.getElementById(key);
    var y = document.getElementById(editRating);
    x.style.display = "none";
    y.style.display = "block";
}


</script>

{% endblock %}