{% extends 'base.html'%}
{% block content %}

<div class="control">
  <label class="radio">
    <input type="radio" name="leisures" value="MUSEUM">
    Museums
  </label>
  <label class="radio">
    <input type="radio" name="leisures" value="DOGPARK">
    Dog Parks
  </label>
  <label class="radio">
    <input type="radio" name="leisures" value="ARTGALLERY">
    Art Gallery
  </label>
    <label class="radio">
    <input type="radio" name="leisures" value="MONUMENT">
    Monument
  </label>
    <label class="radio">
    <input type="radio" name="leisures" value="TRAINING">
    Training
  </label>
    <label class="radio">
    <input type="radio" name="leisures" value="LIBRARY">
    Library
  </label>
    <label class="radio">
    <input type="radio" name="leisures" value="CINEMA">
    Cinema
  </label>
    <label class="radio">
    <input type="radio" name="leisures" value="THEATER">
    Theater
  </label>
    <label class="radio">
    <input type="radio" name="leisures" value="USERLEISURE">
    Users Leisures
  </label>
</div>
<button class="btn btn-primary" onclick="get_leisures()">Filtrar</button>

  </form>

<div id="map" style="height: 800px">
</div>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>

<script>


  //Declaración del mapa

  var map = L.map('map').setView([36.72, -4.42], 13);
  var markers = new Array();
  L.tileLayer(`https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png`, {

  }).addTo(map);

  //Creacion de iconos
 function getType(leisure){
    tipo = leisure.leisure_type;
    let iconType = L.icon({
      iconUrl: 'static/museum.svg',
      iconSize:[30,30],
      iconAnchor: [15,30]
    })
    switch(tipo){
      case "DOGPARK":
        iconType =  L.icon({
          iconUrl: 'static/dogPark.svg',
          iconSize:[30,30],
          iconAnchor: [15,30]
        })
        break;
      case "ARTGALLERY":
        iconType =  L.icon({
          iconUrl: 'static/artGallery.svg',
          iconSize:[30,30],
          iconAnchor: [15,30]
        })
        break;
      case "CINEMA":
        iconType =  L.icon({
          iconUrl: 'static/cinema.svg',
          iconSize:[30,30],
          iconAnchor: [15,30]
        })
        break;
      case "LIBRARY":
        iconType =  L.icon({
          iconUrl: 'static/library.svg',
          iconSize:[30,30],
          iconAnchor: [15,30]
        })
        break;
      case "MONUMENT":
        iconType =  L.icon({
          iconUrl: 'static/monument.svg',
          iconSize:[30,30],
          iconAnchor: [15,30]
        })
        break;
      case "THEATER":
        iconType =  L.icon({
          iconUrl: 'static/theater.svg',
          iconSize:[30,30],
          iconAnchor: [15,30]
        })
        break;
      case "TRAINING":
        iconType =  L.icon({
          iconUrl: 'static/training.svg',
          iconSize:[30,30],
          iconAnchor: [15,30]
        })
        break;
      case "USERLEISURE":
        iconType =  L.icon({
          iconUrl: 'static/Map-Pointer.svg',
          iconSize:[30,30],
          iconAnchor: [15,30]
        });
        break;
      default:
        break;
    }
    return iconType;

  }

  //Redireccion a info del Leisure
  function infoLeisure(id){
   return "/leisure?id="+id;
  }


  //Función actualizar mapa

  function deleteMarkers(){
    for(i = 0; i<markers.length;i++){
      map.removeLayer(markers[i]);
    }
  }



  function mostrarDatos(data) {
    deleteMarkers();
    data.map((leisure, i) =>{
      iconType = getType(leisure);
      var LamMarker = new L.marker(leisure.coordinates, {icon:iconType},{alt: infoLeisure(leisure.l_id)});
      markers.push(LamMarker);
      LamMarker.addTo(map);
      LamMarker.on('click',function (){
        window.location.href = infoLeisure(leisure.l_id);
      });

    })
  }

  function get_leisures(){
        var leisure = document.getElementsByName("leisures");
        var result;
        for (i = 0; i<leisure.length; i++){
            if(leisure[i].checked){
                result = leisure[i].value;
            }
        }
        if(result==undefined){
            window.location.href('/map/');
        }else{
            fetch(`${window.origin}/map`,{
                method: "POST",
                body: JSON.stringify(result),
                cache: "no-cache",
                headers: new Headers({
                    "content-type": "application/json"
                })
            })
            .then(function (response){
                if(response.status!== 200){
                    console.log(`Response status was not 200 ${response.status}`);
                    return ;
                }
                response.json().then(function (data){
                  mostrarDatos(data);
                })
            })
        }
    }
</script>
{% endblock %}

