{% extends 'base.html'%}
{% block content %}
<div class="columns">
    <div class="column is-10 is-offset-1">
            <div class="columns">
                <div class="container">
                    <div class="card" id="profilecard">
                        <div class="section">
                            <div class="columns">
                                <div class="column is-1">
                                    <img class="image is-96x96" src={{ session['current_user_profile_picture'] }}>
                                    <br>
                                    <a class='button is-primary is-outlined' id='edit-profile-button' style='margin: 5px 0' onclick="open_modal()">
                                        Edit Profile
                                    </a>
                                    <br>
                                    <div class="modal" id="modal-edit-profile">
                                        <div class="modal-background"></div>
                                        <div class="modal-card">
                                          <header class="modal-card-head">
                                            <p class="modal-card-title">Edit Profile</p>
                                            <button class="delete" aria-label="close" onclick="close_modal()"></button>
                                          </header>
                                          <section class="modal-card-body">
                                            <div class="field">
                                                <label class="label">Display Name</label>
                                                <div class="control">
                                                  <input class="input" name="display-name-text" type="text" placeholder="Change display name">
                                                </div>
                                                <p class="help is-danger" id="help-hint" style="display: none;">This Display Name is invalid.</p>
                                            </div>
                                          </section>
                                          <footer class="modal-card-foot">
                                            <button class="button is-primary" onclick="save_changes()">Save changes</button>
                                            <button class="button" onclick="close_modal()">Cancel</button>
                                          </footer>
                                        </div>
                                    </div>
                                </div>
                                <div class='column is-4'>
                                    <p>
                                    <span class='title is-bold has-text-grey-darker'>{{ session['current_user_display_name'] }}</span>
                                    <br>
                                    </p>
                                    <p>
                                    {{ session['current_user_email'] }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
        <br><br>
    </div>
</div>
<script>
    function open_modal() {
        var modal = document.getElementById('modal-edit-profile');
        modal.className = 'modal is-active';
    }

    function close_modal() {
        var modal = document.getElementById('modal-edit-profile');
        modal.className = 'modal';
    }

    function save_changes() {
        var new_display_name = document.getElementsByName('display-name-text');
        var help_hit = document.getElementById('help-hint');

        if (new_display_name[0].value == "") {
            new_display_name[0].className = 'input is-danger';
            help_hit.style.display = 'block';
        } else {
            new_display_name.className = 'input';
            help_hit.style.display = 'none';
            fetch(`${window.origin}/changeDisplayName`,{
                method: "POST",
                body: JSON.stringify({displayName: new_display_name[0].value}),
                cache: "no-cache",
                headers: new Headers({
                    "content-type": "application/json"
                })
            })
            close_modal();
        }
    }
</script>
<style>
    #profilecard {
        
    }
</style>
{% endblock %}
