{% extends 'base.html'%}
{% block content %}
<div class="container is-fluid">
  <div class="column is-8 is-offset-2">
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img class="image1" src="{{ url_for('static', filename = w.weather_code+'.svg') }}" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{ w.temp }} ºC</strong> {{w.feels_like }} ºC
              <br>
              <small>{{ w.wind_speed }} m/s {{ w.humidity }} % {{ w.precipitation }} mm/hr</small>
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>

{% endblock %}