{% extends 'base.html'%}
{% block content %}

<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{ w.temp }} ºC</strong> {{w.feels_like }} ºC
          <br>
          <small>{{ w.windspeed }} m/s {{ w.humidity }} % {{ w.precipitation }} mm/hr</small>
        </p>
      </div>
    </div>
  </article>
</div>

{% endblock %}